<option value="<%= person.id %>"
    <% if(typeof all != "undefined") {
            if(all) { %>
        picture="<%= person.picture %>"
        id="<%= person.id %>"
        pid="<%= person.parent_id %>"
        name="<%= person.name %>"
    <% } }%> >
    <%= person.name %>
</option>
