<section class="card">
    <div class="card-header">
        <h3 class="card-title"><%= job.location %></h3><span>
            <%- include("formatDate", {date:job.startDate}) %> - <%- include("formatDate", {date:job.endDate}) %>
        </span>
    </div>
    <div class="card-body">
        <strong><%= job.title %></strong>
        <hr />
        <p class="card-text">
            <%- job.description.replace(/(?:\r\n|\r|\n)/g, '<br\>'); %>
        </p>
    </div>
</section>
