<section class="card">
    <h3><%=school.name%></h3><span><%- include("formatDate", {date:school.graduated}) %></span>
    <hr />
    <strong><%=school.degree%></strong><span>GPA: <%=school.gpa%></span>
    <p><%=school.comments%></p>
</section>
