<%- include("template/header.ejs", {title: "Alex's Resume"}); %>
<main id="main" class="row">
<% if(errMsg) { %>
    <div class="message-error"><%= errMsg %></div>
<% } else { %>
    <article class="col-md-6 col-12">
        <h2>Work</h2>
        <% jobHistory.forEach( job => { %>
            <%- include("resume/job.ejs", {job: job}); %>
        <% }); %>
    </article>
    <article class="col-md-6 col-12">
        <h2>School</h2>
        <% schoolHistory.forEach( school => { %>
            <%- include("resume/school.ejs", {school: school}); %>
        <% }); %>
    </article>
<% } %>
</main>
<%- include("template/footer.ejs"); %>
