<div class="row">
<div class="col-sm-6">
<% history.forEach(job => { %>
    <section class="card" id="job<%=job.id%>">
        <div class="card-header row">
            <div class='col-9'>
                <h3 class="location"><%=job.location%></h3>
                <span class="startDate"><%=job.startDate%></span> -
                <span class="endDate"><%=job.endDate%></span>
            </div>
            <div class='col-3'>
                <button class="editJob btn btn-success w-100" jobID="<%=job.id%>">Edit</button>
                <button class="deleteJob btn btn-danger w-100" jobID="<%=job.id%>">Delete</button>
            </div>
        </div>
        <div class="card-body">
            <strong class="d-block w-100 title"><%=job.title%></strong>
                <hr />
                <p class="card-text description">
                    <% if(job.description) { %>
                        <%- job.description.replace(/(?:\r\n|\r|\n)/g, '<br\>'); %>
                    <% } %>
                </p>
        </div>
    </section>
<% }); %>
</div>
<form class="col-sm-6" id="jobForm" method="POST" action="/Admin/Job">
    <label for="location">Job Location:</label>
    <input type="text" class="form-control" id="location" name="location">
    <label for="title">Job Title:</label>
    <input type="text" class="form-control" id="title" name="title">
    <label>Date's Worked:</label><br />
    <input type="date" class="form-control w-25 d-inline-block" id="startDate" name="startDate"> &mdash;
    <input type="date" class="form-control w-25 d-inline-block" id="endDate" name="endDate"><br />
    <label for="description">Description:</label>
    <textarea class="form-control" name="description" id="description"></textarea>
    <input class="btn btn-primary" type="submit" id="submitJob" value="Add New Job" />
    <input class="btn btn-secondary" type="reset" value="Reset" />
    <input type="hidden" name="id" id="jobId" />
</form>
</div>
